@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{--mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --white: #c4c4c4;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--darkOne);
    box-sizing: border-box;
}

p{
    cursor: pointer;
    font-weight: 600;
    color: var(--darkOne);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1.8em;
    color: var(--darkOne);
    padding: 0px 0px 35px 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.4em;
    color: var(--darkOne);

    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--darkOne);
    outline: none;
    font-weight: 600;
    color: var(--darkOne);
    padding-left: 3px;
}

.btn {
    width: 200px;
    background-color: var(--backgroundColor);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--darkOne);
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
  
.btn:hover {
    background-color: var(--white);
}

button {
    cursor: pointer;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: var(--hoverColor);
}

body {
    width: 100%;
    height: 100vh;
    background: url('../IMAGEM/password/fundotech.svg');
    background-repeat: no-repeat;
    background-size: 200%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

    #container {
        width: 320px;
        height: 520px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 6px -1px var(--darkTwo); 
        box-shadow: 0px 0px 6px -1px var(--darkTwo);
        background: var(--backgroundColor);

        display: flex;
        align-items: center;
    }   

        #container .banner {
            width: 520px;
            height: 520px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background: var(--backgroundColor);

            display: none;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        #container .box-cadastro {
            width: 320px;
            height: 520px;
            border-radius: 10px;
            background: var(--hoverColor);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .signin-signup {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 75%;
            width: 50%;
            transition: 1s 0.7s ease-in-out;
            display: grid;
            grid-template-columns: 1fr;
            z-index: 5;
        } 
        .box-cadastro .input-field{
            max-width: 380px;
            width: 120%;
            background-color: var(--mainColor); 
            margin: 10px 0;
            height: 40px;
            border-radius: 55px;
            display: grid;
            grid-template-columns: 15% 85%;
            padding: 0 0.4rem;
            position: relative;
        }
               
            .input-field i {
                text-align: center;
                line-height: 35px;
                color: var(--darkOne);
                transition: 0.5s;
                font-size: 1.1rem;
            }
              
            .input-field input {
                background:none;
                outline: none;
                border: none;
                line-height: 9;
                font-weight: 900;
                font-size: 1.1rem;
                color: var(--darkOne);
            }
              
            .input-field input::placeholder {
                color: var(--darkOne);
                font-weight: 900;
            }
              
            .login__reset {
                font-family: "Roboto",sans-serif;
                font-weight: 600;
                color: var(--darkOne);
                text-decoration: none;
            
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .social-text {
                padding: 0.2rem 0;
                font-size: 1rem;
            }
            .social-media {
                display: flex;
                justify-content: center;
                color: var(--darkOne);
            }
            .social-icon {
                height: 26px;
                width: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0.45rem;
                border-radius: 50%;
                border: 1px solid var(--darkOne);
                text-decoration: none;
                font-size: 1.1rem;
                transition: 0.3s;
            }
            .social-icon:hover {
                color: var(--darkOne);
                border-color: var(--darkTwo);
            }
              
    #bubble {
        cursor: pointer;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 1px solid var(--mainColor);
        background: var(--mainColor);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0rem 5rem;
        transition: all 0.2s 0.7s;
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      
      form.sign-up-form {
        opacity: 0;
        z-index: 1;
      }
      
      form.sign-in-form {
        z-index: 2;
      }

      /* ANIMATION */

      .container.sign-up-mode form.sign-up-form {
        opacity: 1;
        z-index: 2;
      }
      
      .container.sign-up-mode form.sign-in-form {
        opacity: 0;
        z-index: 1;
      }


    @media (min-width: 1024px) {
        #container {
            width: 902px;
            justify-content: space-between;
        }  

            #container .banner {
                display: flex;
            }

            #container .box-cadastro {
                width: 385px;
                border-radius: 10px 10px 10px 0px;
            }
            .box-cadastro:before {
                bottom: 72%;
                left: 50%;
            }
              
            .box-cadastro.sign-up-mode:before {
                transform: translate(-50%, 100%);
                bottom: 32%;
                right: initial;
            }
}